<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="section-title">
                <h4><span>Tripti's Profile</span></h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="padding" style="padding:15px;">
                <p><strong>Designer:</strong> Tripti
                    <br>
                    <strong>Launch:</strong> 2007
                    <br>
                    <strong>City:</strong> LONDON
                    <br>
                    <strong>Famous Designs:</strong> Indo-Western
                    <br>
                    <strong>Signature Style:</strong> Suits</p>
            </div>
        </div>
        <div class="col-xs-12 col-md-8">
            <div class="md-card">
                <div class="padding" style="padding:15px;">
                    <img src="assets/img/Triptis.jpg" alt="Tripti's Profile Picture" style="width:100%" /> </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>YOUR PROFILE DEATILS GOES HERE</h3>
        </div>
    </div>
</div>