<div class="container">
    <!--
    <div class="row">
    <div class="col-md-12">
        <div class="section-title">
            <h4><span>About Me</span></h4>
        </div>
    </div>
</div>
-->
    <div class="row">
        <div class="col-xs-12 col-md-7">
            <div class="md-card">
                <div class="padding" style="padding:15px;">
                    <img src="assets/img/Triptis.jpg" alt="Tripti's Profile Picture" style="width:100%" />
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-5">
            <div class="md-card">
                <div class="padding" style="padding:15px;">
                    <p><strong>Designer:</strong> Tripti
                        <br>
                        <strong>Launch:</strong> 2007
                        <br>
                        <strong>City:</strong> LONDON
                        <br>
                        <strong>Famous Designs:</strong> Indo-Western
                        <br>
                        <strong>Signature Style:</strong> Suits</p>
                </div>
            </div>
        </div>
    </div>
    <div class="gaprow"></div>
    <div class="row">
        <div class="col-xs-12 col-md-5">
            <div class="md-card">
                <div class="padding" style="padding:15px;">
                    <p><strong>Designer:</strong> Tripti
                        <br>
                        <strong>Launch:</strong> 2007
                        <br>
                        <strong>City:</strong> LONDON
                        <br>
                        <strong>Famous Designs:</strong> Indo-Western
                        <br>
                        <strong>Signature Style:</strong> Suits</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-7">
            <div class="md-card">
                <div class="padding" style="padding:15px;">
                    <img src="assets/img/about_1.jpg" alt="Tripti's Profile Picture" style="width:100%" />
                </div>
            </div>
        </div>
    </div>
</div>