<div>
    <div class="row">
        <div class="col-lg-2">

            <div ng-controller="ProductCategoriesController as pcc">
                <div>
                    <h4>Select Category</h4>
                    <br/>
                    <div ng-repeat="category in pcc.productCategories">
                        <span><input type="checkbox" id="category.Key"><span>&nbsp;{{category.Key}}</span></span>
                    </div>
                </div>
                <hr/>
                <div>
                    <h4>Select Price (in £) </h4>
                    <br/>
                    <div>

                        <input ng-model="pcc.value" type="text" id="mySlider1" slider options="pcc.options" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-10" ng-controller="ProductsController as pc">
            <div class="row">
                <div class="col-sm-6 col-lg-4" ng-repeat="product in  pc.products">
                    <div class="single-product md-card">
                        <div class="item-top">
                            <a href="#"><img src="{{product.ImageUrl}}"></a>
                            <div class="button-container">
                                <ul>
                                    <li>
                                        <li><a href="cart.html" ng-click="hc.addToCart(product)"><i class="pe-7s-cart"></i></a></li>
                                        <li><a href="cart.html"><i class="pe-7s-cart"></i></a></li>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="item-bottom">
                            <h5><a class="product-name" href="#">{{product.Name}}</a></h5>
                            <div class="price-rating-container">
                                <div class="price-box">
                                    <span><strong>{{product.currency}} {{product.price}} </strong></span>
                                    <span class="old-price" ng-if="product.oldPrice">{{product.currency}} {{product.oldPrice}}</span>
                                    <span class="comment" ng-if="product.comment">{{product.comment}}</span>
                                </div>
                                <div class="rating-right">
                                    <div class="star-content">
                                        <div class="star" ng-repeat="rating in hc.getArray(product.rating) track by $index"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>